NodeRedJson
[{"id":"2fb47dad.cc51ca","type":"http in","z":"3cc99084.fcbd48","name":"/answerpost","url":"/answerpost","method":"post","swaggerDoc":"","x":124,"y":266,"wires":[["4c4d6e7.9d2c89","9ec65f5d.a04f8"]]},{"id":"4c4d6e7.9d2c89","type":"debug","z":"3cc99084.fcbd48","name":"","active":true,"console":"false","complete":"payload","x":324,"y":219.5,"wires":[]},{"id":"f85e3b97.453a68","type":"http response","z":"3cc99084.fcbd48","name":"","x":655,"y":275.5,"wires":[]},{"id":"8286c128.581be8","type":"http in","z":"3cc99084.fcbd48","name":"/answerget","url":"/answerget","method":"get","swaggerDoc":"","x":116,"y":100.5,"wires":[["98020df9.230138","e3adfd1d.2d3f5"]]},{"id":"98020df9.230138","type":"debug","z":"3cc99084.fcbd48","name":"","active":false,"console":"false","complete":"true","x":270,"y":52,"wires":[]},{"id":"c2ed9763.96f128","type":"http response","z":"3cc99084.fcbd48","name":"","x":639,"y":122,"wires":[]},{"id":"9ec65f5d.a04f8","type":"function","z":"3cc99084.fcbd48","name":"headerの小細工","func":"msg.headers = {\n \"Access-Control-Allow-Origin\":\"*\",\n \"Access-Control-Allow-Method\":\"GET,POST,PUT,DELETE,OPTIONS\",\n \"Access-Control-Allow-Headers\":\"Origin, X-Requested-With, Content-Type, Accept\"\n}\n//正常終了\n//msg.payload = {\"message\":\"Success insert\"};\nmsg.statusCode=200;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":281,"wires":[["24894231.135476","7f8fbe20.1397b8"]]},{"id":"39bfc0da.dbb2b","type":"function","z":"3cc99084.fcbd48","name":"headerの小細工","func":"msg.headers = {\n \"Access-Control-Allow-Origin\":\"*\",\n \"Access-Control-Allow-Method\":\"GET,POST,PUT,DELETE,OPTIONS\",\n \"Access-Control-Allow-Headers\":\"Origin, X-Requested-With, Content-Type, Accept\"\n}\n//正常終了\n//msg.payload = {\"message\":\"Success insert\"};\nmsg.statusCode=200;\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":124.5,"wires":[["c2ed9763.96f128"]]},{"id":"e3adfd1d.2d3f5","type":"template","z":"3cc99084.fcbd48","name":"質問回答ページ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>あなたの恋愛感は？</title>\n<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n\n<script type=\"text/javascript\">\n    $(function(){\n        $(\"#response\").html(\"Response Values\");\n\n        $(\"#button\").click( function(){\n            var url = $(\"#url_post\").val();\n\n                var JSONdata = {\n                    uname: $(\"#uname\").val(),\n                    a1: $('#answerform [name=a1]:checked').val(),\n                    a2: $('#answerform [name=a2]:checked').val(),\n                    a3: $('#answerform [name=a3]:checked').val(),\n                    a4: $('#answerform [name=a4]:checked').val()\n                };\n\n             //alert(JSON.stringify(JSONdata));\n             alert(\"回答を送信しました！！\");\n\n            $.ajax({\n                type : 'post',\n//                url : url,\n                url : '/answerpost',\n                data : JSON.stringify(JSONdata),\n                contentType: 'application/json',\n                dataType : 'json',\n                scriptCharset: 'utf-8',\n                success : function(data) {\n\n                    // Success\n                    //alert(\"回答を送信しました！！\");\n                    //alert(JSON.stringify(data));\n                    $(\"#response\").html(JSON.stringify(data));\n                },\n                error : function(data) {\n\n                    // Error\n                    //alert(\"error\");\n                    //alert(JSON.stringify(data));\n                    $(\"#response\").html(JSON.stringify(data));\n                }\n            });\n        })\n    })\n</script>\n\n</head>\n<body>\n    <h1>あなたの恋愛感は？</h1>\n    \n<form id=\"answerform\" method=\"POST\">\n    <p>お名前： <input type=\"text\" id=\"uname\" name=\"uname\" size=\"50\" value=\"\"></p>\n    <p>追い
かける恋がいい： <input type=\"radio\" name=\"a1\" value=\"1\" checked=\"checked\" >1 <input type=\"radio\" name=\"a1\" value=\"2\" >2 <input type=\"radio\" name=\"a1\" value=\"3\" >3 <input type=\"radio\" name=\"a1\" value=\"4\" >4 ：追われる恋がいい</p>\n    <p>面白くて飽きない人： <input type=\"radio\" name=\"a2\" value=\"1\" checked=\"checked\" >1 <input type=\"radio\" name=\"a2\" value=\"2\" >2 <input type=\"radio\" name=\"a2\" value=\"3\" >3 <input type=\"radio\" name=\"a2\" value=\"4\" >4  ：一緒にいると癒される</p>\n    <p>ルックス重視： <input type=\"radio\" name=\"a3\" value=\"1\" checked=\"checked\" >1  <input type=\"radio\" name=\"a3\" value=\"2\" >2  <input type=\"radio\" name=\"a3\" value=\"3\" >3 <input type=\"radio\" name=\"a3\" value=\"4\" >4  ：人柄重視</p>\n    <p>プロポーズはド派手なサプライズ： <input type=\"radio\" name=\"a4\" value=\"1\" checked=\"checked\" >1  <input type=\"radio\" name=\"a4\" value=\"2\" >2  <input type=\"radio\" name=\"a4\" value=\"3\" >3 <input type=\"radio\" name=\"a4\" value=\"4\" >4  ：プロポーズは地味なレストラン</p>\n\n\n    <p><button id=\"button\" type=\"button\">submit</button></p>\n</form>\n</body>\n</html>\n","x":299,"y":126,"wires":[["39bfc0da.dbb2b"]]},{"id":"7c188c4e.9c2ca4","type":"cloudant out","z":"3cc99084.fcbd48","name":"hackathonb","cloudant":"922a56b4.d0a738","database":"hackathonb","service":"_ext_","payonly":true,"operation":"insert","x":648,"y":346.5,"wires":[]},{"id":"24894231.135476","type":"json","z":"3cc99084.fcbd48","name":"","x":479.5,"y":357,"wires":[["7c188c4e.9c2ca4","cc487ba1.6a53f"]]},{"id":"cc487ba1.6a53f","type":"debug","z":"3cc99084.fcbd48","name":"","active":true,"console":"false","complete":"false","x":644.5,"y":408.5,"wires":[]},{"id":"7f8fbe20.1397b8","type":"template","z":"3cc99084.fcbd48","name":"debug","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":517,"y":280,"wires":[["f85e3b97.453a68"]]},{"id":"922a56b4.d0a738","type":"cloudant","z":"","host":"https://76b9deec-408e-4e19-b4b2-64e89a02e1f3-bluemix.cloudant.com","name":"cloudant-jh"}]
